.custom-input {
    position: relative;
}

.custom-input__wrapper {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 24px;
}

.custom-input__field {
    width: 386px;
    height: 44px;
    border-radius: 8px;
    border: 1px solid #CDCFDE;
    transition: .2s ease-in;
}

.custom-input__field:hover {
    border: 1px solid #3356D7;
    transition: .2s ease-in-out;
}

.custom-input__field:hover + .custom-input__icon {
    fill: #3356D7;
}

.custom-input__field:focus {
    border: 1px solid #3356D7;
    transition: .2s ease-in;
    outline: none;
}

.custom-input__field:focus + .custom-input__icon {
    fill: #3356D7;
}

.custom-input__field-text-error {
    color: #F6514B;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    /* position: absolute; */
    bottom: 0;
    left: 0;
    transform: translate(-10%, 20%);
    display: block;
    width: 150px;
}

.custom-input__label {
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    position: absolute;
    background-color: #FFFFFF;
    padding: 0 1px 0 1px;
    transform: translate(30%, -50%);
    color: #8F939F;
}

.custom-input__icon {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 0;
    right: 0;
    fill: #8F939F;
    transform: translate(-50%, 40%);
}

.custom-input__button {
    width: 100%;
    border: none;
    background-color: #476BF0;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 20px;
    padding: 14px;
    border-radius: 60px;
    cursor: pointer;
    transition: .2s ease-in;
}

.custom-input__button:hover {
    background-color: #3356D7;
    transition: .2s ease-in;
}

.custom-input__button:focus {
    outline: none;
    background-color: #2143C1;
    transition: .2s ease-in;
}

.custom-input__button:disabled {
    outline: none;
    background-color: #DBDFEB;
}

.custom-input__row {
    display: flex;
    gap: 10px;
}

.custom-input__row input {
    width: 188px;
}

.custom-input__group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0 8px 0;
}

.custom-input__block {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 12px;
}

.custom-input__icon-refresh {
    width: 12px;
    height: 15px;
    cursor: pointer;
}

.custom-input__personal {
    display: block;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    text-align: left;
    width: 280px;
    color: #1E222E;
    margin: 0;
}

.custom-input__personal-link {
    color: #3356D7;
}