.custom-radio {
    display: flex;
    align-items: center;
}

.custom-radio__wrapper {
    border: 1px solid rgba(205, 207, 222, 0.5);
    padding: 28px;
    width: 386px;
    border-radius: 12px;
    margin-bottom: 28px;
}

.custom-radio__field {
    appearance: none;
    width: 19px;
    height: 19px;
    border: 1px solid #CDCFDE;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    transition: background-color .3s ease-in, border-color .3s ease-in;
}

.custom-radio__field:checked {
    background: url(/images/sprite/ellipse.svg) no-repeat center #476BF0;
}

.custom-radio:not(:last-child) {
    margin-bottom: 20px;
}

.custom-radio__label {
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 10px;
}

.custom-radio__text {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: #1E222E;
}

.custom-radio__button {
    width: 100%;
    border: none;
    background-color: #476BF0;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 20px;
    padding: 14px;
    border-radius: 60px;
    cursor: pointer;
    transition: .2s ease-in;
}

.custom-radio__button:hover {
    background-color: #3356D7;
    transition: .2s ease-in;
}

.custom-radio__button:focus {
    outline: none;
    background-color: #2143C1;
    transition: .2s ease-in;
}

.custom-radio__button:disabled {
    outline: none;
    background-color: #DBDFEB;
}