.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 450px;
    background-color: #FFFFFF;
    border-radius: 20px;
    margin: 0 auto 32px auto;
}

.login__forgot {
    color: #1E222E;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    margin-bottom: 32px;
    transition: .2s ease-in;
}

.login__forgot:hover {
    color: #3356D7;
    transition: .2s ease-in;
}

.login__etp {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px;
    background: linear-gradient(90deg, #F5F6FA 0%, #F7F1F7 51.5%, #F5F7FD 100%);
    width: 100%;
    border-radius: 0 0 20px 20px;
    gap: 8px;
}

.login__etp-round {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 50%;
    width: 32px;
    height: 32px;
}

.login__etp-icon {
    width: 24px;
    height: 24px;
    transform: translateY(15%);
}

.login__etp-text {
    color: #7E7D87;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
}