.recovery-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #FFFFFF;
    padding: 32px;
    border-radius: 20px;
    position: relative;
    width: 450px;
    margin: 0 auto;
}

.recovery-data__back {
    position: absolute;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    left: 0;
    top: 0;
    transform: translate(-50%, 50%);
    box-shadow: 2px 2px 2px 0 #101A3B1A;
    cursor: pointer;
}

.recovery-data__back-icon {
    position: absolute;
    left: 14px;
    top: 17px;
    width: 18px;
    height: 13px;
    fill: #1E222E;
}

.recovery-data__back-button:hover .recovery-data__back-icon {
    fill: #476BF0;
}

.recovery-data__back-button:focus .recovery-data__back-icon {
    fill: #476BF0;
    outline: none;
}

.recovery-data__back-button {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: none;
    background-color: #FFFFFF;
    cursor: pointer;
}

.recovery-data__back-button:disabled {
    background-color: #DBDFEB;
}