.password {
    background-color: #FFFFFF;
    padding: 32px;
    border-radius: 20px;
    position: relative;
    width: 450px;
}

.password__back {
    position: absolute;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    left: 0;
    top: 0;
    transform: translate(-50%, 50%);
    box-shadow: 2px 2px 2px 0 #101A3B1A;
    cursor: pointer;
}

.password__back-icon {
    position: absolute;
    left: 14px;
    top: 17px;
    width: 18px;
    height: 13px;
    fill: #1E222E;
}

.password__back-button:hover .password__back-icon {
    fill: #476BF0;
}

.password__back-button:focus .password__back-icon {
    fill: #476BF0;
    outline: none;
}

.password__back-button {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: none;
    background-color: #FFFFFF;
    cursor: pointer;
}

.password__back-button:disabled {
    background-color: #DBDFEB;
}