.registration {
    padding: 32px;
    border-radius: 20px;
    background-color: #FFFFFF;
}

.registration-link {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #476BF0;
}

.registration-link:hover {
    color: #3356D7;
}